body {
  background: rgba(30, 30, 30, 0.9);
}

h1 {
  font-size: 3em;
  text-align: center;
}

h1,h2,h3,h4,h5 {
  color: #EE352E;
  font-style: oblique;
}

p {
  color: #FCCC0A;
  font-weight: normal;
}

a {
  color: white;
  font-style: italic;
}

#quicklinks {
  position: fixed;
  top: 75px;
  right: 75px;
  width: 150px;
  z-index: 1;
}

.formbuttons {
  display: inlay;
  float: left;
}
.clear {
  display: block;
  clear: both;
}
