body {
  background: rgba(30, 30, 30, 0.9);
}

h1 {
  font-size: 3em;
  text-align: justify;
}

h1,h2,h3,h4,h5 {
  color: #EE352E;
  font-style: oblique;
}

p {
  color: #FCCC0A;
  font-weight: normal;
}

a {
  color: white;
  font-style: italic;
}

#quicklinks {
  position: fixed;
  top: 100px;
  right: 120px;
  width: 100px;
  z-index: 1;
}

.logos, .titlelines {
  display: block;
  width: 75%;
}
.logos img{
  display: block;
  float: left;
  width: 7.5%;
}
.titlelines img.first{
  display: block;
  float: left;
  width: 7.5%;
}
.titlelines img.last{
  display: block;
  float: left;
  width: 7.5%;
}
.center{
  display: block;
  text-align: center;
  float: left;
  width: 60%;
}
.clear {
   clear:both;
}
