
<h2>NYC Lines Currently in Operation:</h2>

<p>
  <%@lines.each do |line|%>

    <%path = "../../images/lines/"%>
    <a href = "/subwaylines/<%=line.line%>"><img src="<%=path%><%=line.logo%>" width = 30px></a>

  <%end%>
</p>
