<h3>Ooops! Your ride has been cancelled/delayed/rerouted/postponed indefinitely/<br>
  overtaken by a group of toddlers urinating with reckless abandon.
<br> We appreciate your patronage. Have a nice ride! </h3>
