<h2>Welcome to Mystery Riders! </h2>

<p>Please <a href = "/passengers/login">Login</a> or <a href = "/passengers/signup">Signup</a> to give feedback on the NYC Subway Lines!</p>

<p>You can also <a href="/subwaylines/lines">browse all the lines.</a></p>
