<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>

  <body>
    <h1><img src="http://pngimg.com/upload/gold_PNG10967.png" width = 50px> FWITTER <img src="http://pngimg.com/upload/gold_PNG10967.png" width = 50px></h1>
    <br></br>
    <%= yield%>
    <br></br>

    <a href = "/">>>>Back to Fwitter Homepage </a>  <a href = "/logout"> >>>>Logout</a>
  </body>

</html>
